name: Build Docker Images

on:
  push:
    branches:
      - '**'

permissions:
  contents: read
  packages: write  

jobs:
  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      services: ${{ steps.set-matrix.outputs.services }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0

      - id: set-matrix
        run: |
          # Get changed services
          CHANGED=$(git diff --name-only ${{ github.event.before }} ${{ github.sha }} \
<<<<<<< HEAD
            | grep -oP 'apps/\K[^/]+(?=/image/)' \
=======
            | grep -oP 'apps/\K[^/]+(?=/images/)' \
>>>>>>> ede8d22 (full refactoring of all file paths.)
            | sort -u \
            | tr '\n' ',' | sed 's/,$//')

          if [ -z "$CHANGED" ]; then
            echo "services=[]" >> $GITHUB_OUTPUT
          else
            MATRIX=$(echo "[\"$(echo $CHANGED | sed 's/,/\",\"/g')\"]")
            echo "services=$MATRIX" >> $GITHUB_OUTPUT
          fi

  build:
    needs: detect-changes
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: ${{ fromJSON(needs.detect-changes.outputs.services) }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Log in to GHCR
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker Image
        run: |
<<<<<<< HEAD
          DATE=$(date +%Y.%m.%d)
          BRANCH=$(echo "${GITHUB_REF_NAME}" | tr '/_' '--' | tr -cd '[:alnum:]-')
          SHORT_SHA=${GITHUB_SHA:0:6}
          TAG="${DATE}-${BRANCH}-${SHORT_SHA}"
=======
          TAG=$(date +%Y%m%d)-${GITHUB_SHA::7}  # first 7 characters of commit SHA
>>>>>>> ede8d22 (full refactoring of all file paths.)
          echo "Building Docker image for ${{ matrix.service }} with tag $TAG"
          docker buildx build \
            --cache-from type=gha \
            --cache-to type=gha,mode=max \
            --tag ghcr.io/myrenic/${{ matrix.service }}:$TAG \
<<<<<<< HEAD
            apps/${{ matrix.service }}/image \
=======
            apps/${{ matrix.service }}/images \
>>>>>>> ede8d22 (full refactoring of all file paths.)
            --push